{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
  <title>Homemart - {% trans 'Sifarişlərim' %}</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/myorders.css' %}">
{% endblock %}

{% block content %}

    <section class="myOrders">
        <div class="row w-75 rounded-1 mt-3">
            <div class="col-2 d-none d-lg-block rounded-2 ps-3 pt-4">
                <h5 class="fw-bold pb-2">{% trans 'Profilim' %}</h5>
                <a href="{% url 'profile' user.pk %}">
                    <button type="submit" class="w-100 bg-white border-0 py-2 px-3 mb-2 rounded-2 fw-bold text-start">{% trans 'Mənim Məlumatlarım' %}</button>
                </a>
                <a href="{% url 'myorders' %}">
                    <button type="submit" class="w-100 border-0 py-2 px-3 mb-2 rounded-2 fw-bold text-start active">{% trans 'Sifarişlərim' %}</button>
                </a> 
                <a href="{% url 'wishlist' %}">
                    <button type="submit" class="w-100 bg-white border-0 py-2 px-3 mb-2 rounded-2 fw-bold text-start">{% trans 'Seçilmişlərim' %}</button>
                </a>
                <a href="{% url 'contact' user.pk %}">
                    <button type="submit" class="w-100 bg-white border-0 py-2 px-3 mb-2 rounded-2 fw-bold text-start">{% trans 'Əlaqə' %}</button>
                </a>
                <a href="{% url 'logout' %}">
                    <button type="submit" class="w-100 bg-white border-0 py-2 px-3 mb-2 rounded-2 fw-bold text-start">{% trans 'Çıxış' %}</button>
                </a>
            </div>
            <div class="col-7 ms-2 d-flex flex-column">
                <div class="rounded-2 px-5 mb-3 h-200">
                   <div class="d-flex justify-content-between pt-4 mb-30">
                        <div>
                            <p class="m-0">2 məhsul</p>
                            <a href="#" class="text-dark">Sifarişin detallarına bax</a>
                        </div>
                        <div>
                            <div class="ps-2 fw-bold">
                                7490.99 AZN
                            </div>
                        </div>
                   </div>
                   <div>
                        <button type="button" class="btn btn-success text-white border-0 px-4 rounded-2 fw-bold">Məhsul təhvil verilib</button>
                        <p class="fw-bold mt-3 fs-13">Sifarişin statusu</p>
                   </div>
                </div>
                <div class="rounded-2 px-5 mb-3 h-200">
                    <div class="d-flex justify-content-between pt-4 mb-5">
                         <div>
                             <p class="m-0">1 məhsul</p>
                             <a href="#" class="text-dark">Sifarişin detallarına bax</a>
                         </div>
                         <div>
                             <div class="ps-2 fw-bold">
                                 1230.99 AZN
                             </div>
                         </div>
                    </div>
                    <div>
                         <button type="button" class="btn btn-warning text-white border-0 px-4 rounded-2 fw-bold">Sifariş hazırlanır</button>
                         <p class="fw-bold mt-3 fs-13">Sifarişin statusu</p>
                    </div>
                </div>
                <div class="rounded-2 px-5 mb-3 h-200">
                    <div class="d-flex justify-content-between pt-4 mb-5">
                        <div>
                            <p class="m-0">1 məhsul</p>
                            <a href="#" class="text-dark">Sifarişin detallarına bax</a>
                        </div>
                        <div>
                            <div class="ps-2 fw-bold">
                                20.99 AZN
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-danger text-white border-0 px-4 me-3 rounded-2 fw-bold">Sifariş ləğv olundu</button> <img src="{% static 'images/icons/alert-info.svg' %}">
                        <p class="fw-bold mt-3 fs-13">Sifarişin statusu</p>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center rounded-2 px-5 mb-3 h-200">
                    {% trans 'Heç bir sifarişin mövcud deyil' %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}