{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
  <title>Homemart</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/forget_password.css' %}">
{% endblock %}

{% block content %}

    <section class="forget_password">
        <div class="row d-flex justify-content-center m-auto">
            <div class="col-12 col-lg-3">
                <h6 class="fw-bold mt-5 mb-4">{% trans 'Parolu Yenilə' %}</h6>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-4">
                        {{ form.email }}
                    </div>
                    <button type="submit" class="forgetButton w-100 border-0 rounded-1 fw-bold">{% trans 'Göndər' %}</button>
                </form>
            </div>
        </div>
    </section>

{% endblock %}