{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
  <title>Homemart</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/forget_password.css' %}">
{% endblock %}

{% block content %}

    <div class="container d-flex flex-column align-items-center mt-5">
        <div class="mt-5">
            <img src="{% static 'images/icons/lucide_shield-check.svg' %}" width="80px" height="80px" alt="">
        </div>
        <div class="content text-center mt-5">
            <p class="mt-3 mb-5 fw-bolder">{% trans 'Parolunuz müvəffəqiyyətlə yeniləndi. Giriş səhifəsinə keçid edərək profilinizə daxil ola bilərsiniz.' %}</p>
        </div>
        <button type="submit" onclick="window.open('{% url 'login' %}', '_self');" class="finishButton border-0 rounded-1 fw-bold">{% trans 'Daxil ol' %}</button>
    </div>

{% endblock %}