#card_form {
    width: 380px;
    margin: 0 auto;
    padding-left: 30px;
}

#card_form h6 {
    font-size: 14px;
}

.fs-11 {
    font-size: 11px;
}

.inputs {
    border: 2px solid #8F949E;
    font-size: 15px;
}

.payButton {
    background-color: #F4CD17;
    padding: 15px 0;
    width: 380px;
}