.forgetButton {
    background-color: #F4CD17;
    color: #0D2B3D;
    font-size: 12px;
    padding: 12px;
}

.content {
    width: 500px;
    font-size: 19px;
}

.finishButton {
    background-color: #F4CD17 !important;
    color: #0D2B3D;
    font-size: 12px;
    padding: 12px;
    width: 350px;
}