.breadcrumb li:first-child {
    font-size: 15px;
    color: #0D2B3D;
    font-weight: bolder;
}

#breadcrumb {
    --bs-breadcrumb-divider: ' ';
    background-color: #F1F1F1;
    margin-top: 0 !important;
}

.breadcrumb {
    display: flex;
    flex-direction: column;
    height: 60px;
}

.breadcrumb li:last-child {
    font-size: 12px;
    font-weight: normal;
}

.profile .w-75 {
    margin-left: 25%;
}

.profile .col-2 {
    background-color: #F1F1F1;
    width: 220px;
    height: 570px;
}

.profile .active {
    background-color: #FFC700;
}

.profile .col-2 button {
    font-size: 11px;
    color: #0D2B3D;
    width: 250px;
}

.profile form label,
.form_last_div {
    font-size: 12px;
}

.form_last_div span,
.form_last_div label {
    color: #5C5C5C;
}

.profile form .mb-3 {
    width: 320px;
}

.completeChanges {
    background-color: #F4CD17;
    color: #0D2B3D;
    font-size: 10px;
    padding: 10px;
    width: 320px;
}
.inputs {
    border: 2px solid #8F949E;
}

@media screen and (min-width: 2360px) {
    .profile .w-75 {
        margin-left: 30%;
    }
  }
  @media screen and (max-width: 992px) {
    .profile .w-75 {
        margin-left: 0;
    }
    .form_last_div {
        width: 250px;
    }
}
